@using FileUploadSample.Controllers;
@{
    ViewData["Title"] = "Home Page";
    var myFiles = ViewData["myFiles"] as FileLink[];
}
<h1>Upload Files</h1>
<div class="row">
    <section>
        <form method="post" enctype="multipart/form-data"
              asp-controller="UploadFiles" asp-action="Index">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more files using this form:</p>
                    <input type="file" name="files" multiple />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" />
                </div>
            </div>
        </form>
    </section>
</div>
<hr />
<h3>Other Samples</h3>
<ul>
    <li><a asp-controller="Profile" asp-action="Index">Profile Sample</a></li>
    <li><a asp-controller="Streaming" asp-action="Index">Streaming Upload Sample</a></li>
</ul>
<h3>Link to files</h3>
<ul>
    <li><a href="C:\Users\luan_\AppData\Local\Temp\tmp9CC5.tmp">File link</a></li>
    <li><a href="UploadFiles\Download2">PDF File link</a></li>
    <li><a href="UploadFiles\Download3" target="_blank">Buddha</a></li>
    <li><a href="UploadFiles\Download" target="_blank">Premium dancer</a></li>
    <li><a href="UploadFiles\TestDownload" target="_blank">TestDownload</a></li>


</ul>
<div id="FileLinks">
    @foreach (FileLink file in myFiles)
    {
        <a href="@file.FullName">@file.FileName</a>
    }
</div>
<h3>Download file</h3>
<form method="get" asp-controller="UploadFiles" asp-action="Download3">
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Download a file" />
        </div>
    </div>
</form>